<% c++ #include "data/admin/users.h" %>
<% skin admin_skin %>
<% view users uses data::admin::users extends master %>
<% template master_content() %>
<div id="form" class="user-login">
<h2><% gt "User login" %></h2>
<form action="<% url "/admin/users" %>" method="post"><% csrf %>
	<% form as_dl login %>
</form>
</div>
<% end %>
<% end view %>

<% view useradd uses data::admin::user extends master %>
<% template master_content() %>
<div id="form">
<h2><% gt "Add user" %></h2>
<form action="<% url "/admin/users/add" %>" method="post"><% csrf %>
	<% form as_dl user %>
</form>
</div>
<% end %>
<% end view %>

<% view user uses data::admin::user extends master %>
<% template master_content() %>
<div id="form">
<h2><% gt "Edit user {1}" using id %></h2>
<form action="<% url "/admin/users" using id %>" method="post"><% csrf %>
	<% form as_dl user %>
</form>
</div>
<% end %>
<% end view %>

<% view userlist uses data::admin::userlist extends master %>
<% template master_content() %>

<div class="userlist">
<h1><a href="<% url "/admin/users/add" %>"><% gt "Add user" %></a></h1>
<% foreach user in users %>
	<% item %>
		<div class="item"><%= user.id %> <a href="<% url "/admin/users" using user.id %>"><%= user.username %></a><% if ( user.id != content.loginId ) %> <a href="<% url "/admin/users/del" using user.id %>" onclick="return confirm('<% gt "Are you sure you want to delete this user?" %>');"><% gt "Delete" %></a><% end %></div>
	<% end %>

	<div>
	<% if page %>
		<p class="prevpage">
			<a href="<% url "/admin/users/list" using prev_page  %>"><% gt "previous page" %></a>
		</p>
	<% end %>
	<% if next_page %>
		<p class="nextpage">
			<a href="<% url "/admin/users/list" using next_page  %>"><% gt "next page" %></a>
		</p>
	<% end %>
		<div style="clear: both"></div>
	</div>
<%end%>
</div>

<% end %>
<% end view %>
<% end skin %>
