* { margin:0px; padding:0px;}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, 
fieldset, address, pre { margin:5px;}
li, dd { margin-left:2em;}

#logout { float:right;}

#header { text-align:left;}

#news {
    float: right;
}

#menu {
    float: left;
}

#langlist {
	text-align: right;
}

.prevpage{
        float:left;
}


.nextpage{
        float:right;
}

#menu .multi-page .desc {float:right;}

