body {
	direction:rtl;
}

/* * { margin:0px; padding:0px;}*/
h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, 
fieldset, address, pre { margin:5px;}
/*li, dd { margin-right:0em;}*/

#logout { float:left; }
#header { text-align:right;}

#news {
    float: left;
    padding: 20px 0 20px 20px;
}

#menu {
    float: right;
    padding: 20px 20px 20px 0;
}

#langlist {
	text-align: left;
}

.prevpage{
        float:right;
}


.nextpage{
        float:left;
}

#menu .multi-page .desc {float:left;}

